.gcontainer {
	margin:20px 40px 20px 0;
}

.posrel {
	border:1px solid #3D4D57;
	border-radius:3px;
	margin-bottom:1px;
}

.posrel img {
	border-radius:3px;
}

.overlay_top, .overlay_btm {
	position:absolute;
	width:100%;
	background-color: rgba(25,25,25,.8);
	padding:2px;
	z-index:99;
}

.overlay_top {
	top:0;
	text-align:center;
	border-radius:2px 2px 0 0;
}

.overlay_btm {
	bottom:0;
	text-align:right;
	border-radius:0 0 2px 2px;
}

.gcontainer .col-md-4 .gcontainer .col-md-6, .gcontainer .col-xs-4, .gcontainer .col-xs-6 {
	border:1px solid #3D4D57;
	border-radius:3px;
	text-align:center;
	padding:5px 0 !important;
}

.gcontainer .col-md-12, .gcontainer .col-xs-12 {
	border:1px solid #3D4D57;
	border-radius:3px;
	text-align:center;
}

.gcontainer .col-md-4:first-child {
	margin-right:0px;
}

.gcontainer .col-md-4:last-child {
	margin-left:0px;
}

.form-control {
	height:28px;
	border-color:#3D4D57;
	border-left:0;
	border-top:0;
	border-bottom:0;
}